# Ignore ouput files
*.aux
*.log
*.toc
*.pdf
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.lof

# Compressed file
*.zip
*.gz
*.rar

# Temporary files
*.swp
*.bak
*~

# Project specific files
*.sublime-project
*.sublime-workspace
